/* CSS for samchoi.org */
/* Created by Sam Choi */
/* Last Update: 6-1-15 */

h1 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	/* Montserrat */
}

h3 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	color: black;
}

p {
	font-size: 14px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 400px;
	letter-spacing: 0.5px;
	color: #8c8c8c;
	line-height: 160%;
	/* proxima-nova */
}

.highlight {
	color: black;
}

a {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	text-decoration: none;
	color: black;
}

li {
	margin: 0.3em 0;
}


div div > hr {
  border-top: 1px solid;
  color: #e6e6e6;
}

div.row {
	margin: auto;
	margin-top: -10px;
	margin-bottom: -40px;

}

div > ul {
	font-size: 14px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 400px;
	letter-spacing: 0.5px;
	color: #8c8c8c;
	/* proxima-nova */
}


.navbar .navbar-header > a {
	color: #0d0d0d;
	text-shadow: none;
	font-weight: normal;
	font-size: 36px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-decoration: none;
	-webkit-transition: color 0.1s; /* For Safari 3.1 to 6.0 */
    transition: color 0.1s;
}

.navbar .navbar-header > a:hover {
	color: #4d4d4d;
	text-shadow: none;
	font-weight: 600px;
	text-decoration: none;
}

.navbar .nav > li > a {
	color: #8c8c8c;
	text-shadow: none;
	-webkit-transition: color 0.1s; /* For Safari 3.1 to 6.0 */
    transition: color 0.1s;
    text-decoration: none;

}

.navbar .nav > li > a:hover {
	color: black;
	text-shadow: none;
	text-decoration: none;
}


div.navbar-header a:visited {
	text-decoration: none;
}

div.navbar-header a:hover {
	text-decoration: none;
}

div.navbar-header a:active {
	text-decoration: none;
}

#profile {
	width: 280px;
	height: auto;
	display: block;
	margin-left: 12px;
}

#text {
	line-height: 30px;
	margin-top: 220px;
	margin-left: 180px;
	display: inline-block;
	width: 500px;
	text-align: left;
}

#name {
	font-size: 50px;
}

#connect {
	color: #8c8c8c;
	font-size: 12px;
	letter-spacing: 1px;
}

#connect > a {
	color: #8c8c8c;
}

#connect > a:hover {
	color: black;
	text-decoration: none;
}

#invisible {
	visibility: hidden;
}

.row {
    padding:2em 10%;
}

#playlist {
	text-align: center;
}

#playlist-title {
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#playlist-title a {
	text-decoration: none;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 400px;
	letter-spacing: 0.5px;
	color: #8c8c8c;
    -webkit-transition: color 0.1s; /* For Safari 3.1 to 6.0 */
    transition: color 0.1s;
}

#playlist-title a:hover {
	color: #000000;
    /*color: #7E0309;*/
    text-decoration: none;
}

#project-image {
	height: auto;
    width: 300px;
    display: block;
}

#project-title {
	text-align: right;
	margin-right: 110px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	color: black;
}

#project-description {
	text-align: left;
	margin-right: 110px;
	font-size: 14px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 400px;
	letter-spacing: 0.5px;
	color: #8c8c8c;
	margin-top: 15px;
}

a:link img {
	opacity: 1.0;
	transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

a:hover img {
	opacity: 0.7;
	filter: alpha(opacity=70);
}

#about-bio a {
	color: #8c8c8c;
	-webkit-transition: color 0.1s; /* For Safari 3.1 to 6.0 */
    transition: color 0.1s;
}

#about-bio a:hover {
	color: #75cac2;
}

#about-bio a:visited, a:active {
	text-decoration: none;
}



